
html, body{
    margin: 0px;
    padding: 0px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif; ;
}

p {
    margin: 0;
}

#calicocut {
    font-family: Papyrus, fantasy;
    font-style: italic;
    color: midnightblue;
}


.top {
    display: flex;
    background-color: whitesmoke;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    top: 0;
    box-shadow: 0px -5px 20px #323295;
}
.button{
    border-radius: 50%;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.button:active {
    background-color: #757272bd;
}

.give {
    display: flex;
    background-color: darkslateblue;
    margin-top: 78px;
    justify-content: center;
    width: 100%;
    color: aliceblue;
}

.casualpants {
    
    display: flex;
    width: 50%;
    font-size: 25px;
    
}

.container {
    width: 33%;
    margin-left: 33%;

}

.pantsContainer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.pantsContainer .imageContainer {
    flex: 1 1 auto;
}

.imageContainer {
    background-color: #ddd8d8;
}

.imageContainer img:hover {
    opacity: 0.5;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    transition: opacity 0.7s;
}

.priceAndName {
    padding: 0;
    margin: 0;
}

footer {
    display: flex;
    width: 100%;
    margin-top: 50px;
    background-color: darkslateblue;

}

.foot {
    width: 100%;
    font-size: large;
    font-weight: bold;
    color: white;

}

#contact {
    text-align: center;
}



.info {
    display: inline-flex;
    
}


.contactInfo {
    display: flex;
    justify-content: space-around;
}





